/* All CSS For Pairs Game ---------------------------------- */
header {
    background-color: #1c75bc;
}
#pairs {
    width: 100vw;
    height: 100vh;
    background-color: #F7F7F7;
    padding: 100px 0;
    text-align: center  
}
.card {
    display: inline-block;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 5px
}
.card:hover {
    box-shadow: inset 0px 0px 0px 3px #333
}
.blue {
    background-color: blue
}
.red {
    background-color: red
}
.green {
    background-color: green
}
.purple {
    background-color: purple
}
.black {
    background-color: black
}
.orange {
    background-color: orange
}
.yellow {
    background-color: yellow
}
.pink {
    background-color: pink
}
.color-hidden {
    background-color: #eee;
    cursor: pointer;
    transition: .5s
}
.sample {
    cursor: default;
    transition: .5s
}
.sample:hover {
    box-shadow: none
}

/* Media Queries---------------------------------- */
/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        margin: 0;
        padding: 0;
        overflow-X: hidden;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-X: hidden;
    }
    #simon {
    padding-top: 175px;
    padding-bottom: 0
    }
}
/*-----*/

/*Mobile*/
@media screen and (max-width: 767px) {
    html {
        margin: 0;
        padding: 0;
        overflow-X: hidden;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-X: hidden;
    }
    #simon {
    padding-top: 175px;
    padding-bottom: 0
    }
}
/*-----*/

/* ---------------------------------- */