/* Google Fonts---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* ---------------------------------- */

/* General CSS---------------------------------- */
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F7F7
}
.subheading {
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-decoration: underline;
    color: #1c75bc;
}
/* ---------------------------------- */

/* Header ---------------------------------- */

.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 80%;
    padding: 0 10%;
    color: #fff;
    z-index: 1;
    transition: .4s ease-out;
}
.main-header a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.2em
}
.menu-icon {
    background: #fff
}
.scrolled {
    height: 50px;
    /*background: rgba(0, 0, 0, 0.9);*/
    background-color: rgba(28, 117, 188, 0.9);
    color: #fff;
}
.nav-links {
    display: flex;
    list-style: none;
}

.nav-link {
    padding-left: 1em
}

.nav-link a {
    font-family: 'Times New Roman', Times, serif
}
.nav-link a:hover {
    background: rgb(255,255,255,0.2)
}
.menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
}
.menu-icon-line {
    display: block;
    position: relative;
    background: #fff;
    height: 2px;
    width: 20px;
    border-radius: 4px;
    transition: background .8s ease;
}
.menu-icon-line::before, 
.menu-icon-line::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: #fff;
    transition: background .8s ease;
}
.menu-icon-line::before {
    transform: translateY(-5px)
}
.menu-icon-line::after {
    transform: translateY(5px)
}
.menu-btn {
    display: none
}
.nav-link:hover ul {
    display: block
}
.nav-link a::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    /*background: #1c75bc;*/
    background-color: #fff;
    transition: width .4s
}
.nav-link a:hover::after {
    width: 100%;
    transition: .4s;
}
/* ---------------------------------- */

/* Media Queries---------------------------------- */
@media screen and (max-width: 767px) {
    html {
        margin: 0;
        padding: 0;
        overflow-X: hidden;
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-X: hidden;
    }
    
    .main-header {
        margin: 0;
        padding: 0;
        width: 80%;
        padding: 0 10%;
    }
    .menu-icon {
        display: block;
        background-color: transparent
    }
    .menu-icon-line {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse
    }
    .menu-icon-line::before {
        animation: closedTop 0.8s backwards;
        animation-direction: reverse
    }
    .menu-icon-line:after {
        animation: closedBottom 0.8s backwards;
        animation-direction: reverse
    }
    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
        font-size: 2rem;
        color: #fff;
        /*background: #272727;*/
        background: rgba(128,128,128,0.9);
        transition: opacity .8s .5s, clip-path 1s .5s;
        clip-path: circle(200px at top right)
    }
    .nav-link {
        opacity: 1;
        width: 100%;
        text-align: center;
        padding: 0
    }
    .nav-link a {
        display: block;
        padding: 2rem 0
    }
    .menu-btn:checked ~ .nav-links {
        opacity: 1;
        clip-path: circle(100% at center)
    }
    .menu-btn:checked ~ .menu-icon {
        border-radius: 50%;
    }
    .menu-btn:checked ~* .menu-icon-line {
        background: red;
        animation: openMid 0.8s forwards
    }
    .menu-btn:checked ~* .menu-icon-line::before {
        background: red;
        animation: openTop 0.8s forwards
    }
    .menu-btn:checked ~* .menu-icon-line:after {
        background: red;
        animation: openBottom 0.8s forwards
    }
    @keyframes openTop {
        0%{
            transform: translateY(-5px) rotate(0deg)
        }
        50%{
            transform: translateY(0px) rotate(0deg)
        }
        100%{
            transform: translateY(0px) rotate(90deg)
        }
    }
    @keyframes openMid {
        50%{
            transform: rotate(0deg)
        }
        100%{
            transform: rotate(45deg)
        }
    }
    @keyframes openBottom {
        0%{
            transform: translateY(5px) rotate(0deg)
        }
        50%{
            transform: translateY(0px) rotate(0deg)
        }
        100%{
            transform: translateY(0px) rotate(90deg)
        }
    }
    @keyframes closedTop {
        0%{
            transform: translateY(-5px) rotate(0deg)
        }
        50%{
            transform: translateY(0px) rotate(0deg)
        }
        100%{
            transform: translateY(0px) rotate(90deg)
        }
    }
    @keyframes closedMid {
        50%{
            transform: rotate(0deg)
        }
        100%{
            transform: rotate(45deg)
        }
    }
    @keyframes closedBottom {
        0%{
            transform: translateY(5px) rotate(0deg)
        }
        50%{
            transform: translateY(0px) rotate(0deg)
        }
        100%{
            transform: translateY(0px) rotate(90deg)
        }
    }
}
/* ---------------------------------- */
/* ---------------------------------- */

/* Wrapper ---------------------------------- */
#wrapper {
    width: 100vw;
    height: 50vh;
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url(../images/simon-bg.jpg) center no-repeat;
    text-align: center;
    align-content: center;
    color: #fff
}
.wrapper-text {
    width: 60%;
    padding: 0 20%;
    padding-top: 150px;
    text-transform: uppercase
}
.wrapper-text h1 {
    font-size: 4em;
    letter-spacing: 2px
}
.wrapper-text h2 {
    font-size: 1.5em
}
/* ---------------------------------- */

/* Contents Section ---------------------------------- */
#games-selection {
    width: 80%;
    padding: 150px 10%;
    /*height: 400px;<-Placeholder--Delete*/
    display: grid;
    grid-template-columns: repeat(2, 50%);
    text-align: center;
    justify-content: center
}

.game-card {
    width: 60%;
    margin: 0 20%;
    cursor: pointer;
}

.card-container {
  position: relative;
  width: 100%;
}

.card-image {
  display: block;
  width: 100%;
  height: 300px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  background-color: rgba(28, 117, 188, 0.2);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.card-container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: #1c75bc;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* ---------------------------------- */

/* Suggestions Section ---------------------------------- */
.suggestions-form {
    width: 70%;
    height: 300px;
    padding: 0 15%;
    text-align: center
}

.form {
    display: grid;
    grid-template-columns: 40% 45% 15%;
    text-align: center;
    justify-content: center
}


form {
    width: 100%
}

input {
    width: 80%;
    padding: 1em;
    border-radius: 4px;
}

#email {
    margin-top: 10px
}

textarea {
    resize: none;
    width: 90%;
    height: 70px;
    padding: 1em;
    border-radius: 4px

}

input, 
textarea, 
button {
    outline: none;
    border: 1px solid #1c75bc;
    font-family: Arial, Helvetica, sans-serif
}

input:focus, textarea:focus {
    box-shadow: 0 0 4px rgba(28, 117, 188, 1);
    border: 1px solid rgb(28, 117, 188))
}

::placeholder {
    color: #1c75bc;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #1c75bc;
}
::-ms-input-placeholder {
    color: #1c75bc;
    opacity: 1;
}

.reset-btn, .submit-btn {
    width: 100%;
    padding: .95em;
    border-radius: 4px;
    transition: 0.3s;
}
.submit-btn {
    margin-top: 10px;
}

.submit-btn:hover,
.reset-btn:hover {
    background-color: #1c75bc;
    opacity: 1;
    cursor: pointer;
}
.reset-btn {
    background-color: #1c75bc;
    opacity: 0.6;
}

/* ---------------------------------- */

/* Footer ---------------------------------- */
footer {
    width: 100%;
    height: 60px;
    background-color: #1c75bc;
    text-align: center
}
footer p {
    padding-top: 25px;
    color: #fff 
}

/* ---------------------------------- */

